.bar {
  width: 40px;
  background-color: white;
}

.bar:not(:last-child) {
  margin-right: 10px;
}

.bar.current {
  background-color: pink;
}

.bar.sorted {
  background-color: green;
}

.bar.selected {
  background-color: yellow;
}

.bar.swap {
  background-color: orange;
}
